<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flat register</title>
</head>
<body style="display: flex; flex-direction: column; margin: 300px">
<form action = "/flat" method="post">
    <input type="text" name="city" placeholder = "City">
    <input type="text" name="squereMetres" placeholder ="M2">
    <input type="text" name="price" placeholder = "Price">
    <input type="submit" value="submit">
</form>
</body>
</html>