<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Current flat</title>
</head>
<body style="display: flex; flex-direction: column; margin: 200px">
    <h1 style="color: rgb(5, 139, 0);">Here is your flat! <h1></h1>
    <h3>Squere Metres : {{squereMetres}} </h3>
    <h3>Price : {{price}} </h3>
    <h3>City : {{city}} </h3>
</body>
</html>