<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body action="/login" method="post" style="display: flex; flex-direction: column; margin: 300px">
    <h3>Please enter your email and password<h3>
        <form>
            <input type="text" name = "email" placeholder = "Email">
            <input type="password" name = "password" placeholder = "Password">
            <input type="submit" value="Submit">
        </form>
</body>
</html> 